# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [30]:
np.random.seed(1)
n = np.random.randint(65,91,20)
nation = [chr(i) for i in n]
pop = np.random.randint(10000000,size = 20)
data = {'國家':nation ,
        '人口': pop}
data = pd.DataFrame(data)
print(data)
print('人口數最多的國家：')
data[data['人口'] == data['人口'].max()]

   國家       人口
0   F  4770260
1   L  5700491
2   M  8790268
3   I   188317
4   J   745431
5   L   412649
6   F  4342513
7   P  6991326
8   A  4490326
9   Q  4839401
10  B  8487943
11  M  3969343
12  H  3935766
13  N  5966337
14  G  7468928
15  Z   323900
16  S  4389073
17  U  6349528
18  F  7995823
19  S  2789354
人口數最多的國家：

  國家       人口
2  M  8790268

In [15]:
np.random.seed(1)
a3 = np.random.randint(65,91,10)
b3 = [chr(i) for i in a3]
b3

['F', 'L', 'M', 'I', 'J', 'L', 'F', 'P', 'A', 'Q']